In [1]:
import pandas as pd 
import numpy as np 
import  matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('https://raw.githubusercontent.com/HassanKotb/Data_Cleaning_Projects/main/Amazon/Amazon_Fires.csv', encoding = "ISO-8859-1")
df.head()

    ano      mes estado   numero  encontro
0  1998  Janeiro   Acre  0 Fires  1/1/1998
1  1999  Janeiro   Acre  0 Fires  1/1/1999
2  2000  Janeiro   Acre  0 Fires  1/1/2000
3  2001  Janeiro   Acre  0 Fires  1/1/2001
4  2002  Janeiro   Acre  0 Fires  1/1/2002

In [3]:
#Fixing the columns names
df.rename(columns={'ano':"Year",
                   'mes':'Month',
                   'estado':'State',
                   'numero':'Numper',
                   'encontro':'Date'} , inplace = True)

In [4]:
df.Month.unique()

array(['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho',
       'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      dtype=object)

In [5]:
#Fixing months names
df.Month= df.Month.map({'Janeiro':'january',
                        'Fevereiro':'February',
                        'Mar�o':'March',
                        'Abril':'April',
                        'Maio':'May', 
                        'Junho':'June',
                        'Julho':'July',
                        'Agosto':'August',
                        'Setembro':'September',
                        'Outubro':'October',
                        'Novembro':'Novamber',
                        'Dezembro':'December'})

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    6454 non-null   int64
 1   Month   5914 non-null   object
 2   State   6454 non-null   object
 3   Numper  6322 non-null   object
 4   Date    6454 non-null   object
dtypes: int64(1), object(4)
memory usage: 252.2+ KB

In [7]:
# Numper Columns should be converted To Int
# Date Column should be converted to Date Type
# Missed Date in Numper Column should be Handled

In [8]:
#Cleaning Numper column
df['Numper'] = df['Numper'].str.strip(' Fires')
df['Numper']=df['Numper'].astype(float)
Numper_mean=df['Numper'].mean()
df['Numper'] = df['Numper'].fillna(Numper_mean)

In [9]:
# Numpers of first Should be Int 
df['Numper']=round(df['Numper'])

In [10]:
df.Date = pd.to_datetime(df.Date)
df.Date.sample(25)

3548   1999-01-01
1687   2011-01-01
3799   2011-01-01
2772   2000-01-01
1736   2000-01-01
751    2011-01-01
5516   2016-01-01
3682   2014-01-01
6366   2009-01-01
6032   2014-01-01
3613   2005-01-01
1176   2017-01-01
3745   2017-01-01
2780   2008-01-01
3124   2014-01-01
732    2012-01-01
1505   2008-01-01
4800   2017-01-01
25     2003-01-01
2486   2013-01-01
3644   2016-01-01
685    2004-01-01
4535   2010-01-01
6413   2016-01-01
1578   2001-01-01
Name: Date, dtype: datetime64[ns]

In [11]:
#Here we Descover that the Date column only refers to the year 
#we already have Year column
#so let's remove the Date column

In [12]:
df.drop('Date',axis =1)

      Year     Month      State  Numper
0     1998   january       Acre     0.0
1     1999   january       Acre     0.0
2     2000   january       Acre     0.0
3     2001   january       Acre     0.0
4     2002   january       Acre     0.0
...    ...       ...        ...     ...
6449  2012  December  Tocantins   128.0
6450  2013  December  Tocantins    85.0
6451  2014  December  Tocantins   223.0
6452  2015  December  Tocantins   373.0
6453  2016  December  Tocantins   119.0

[6454 rows x 4 columns]

In [13]:
# Now The Date is clean and ready to Analysis or ploting